
@media (max-width: 1200px) {
    // HEADER
    .header {
        background-color: var(--header-resp-bg);
        height: 70px;

        .wrapper {
            line-height: 70px;

            // RESPONSIVE NAVBAR
            .respons {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .hamburger-box {
                    display: block !important;
                    position: relative;
                    width: 60px;
                    padding: 20px;
                    cursor: pointer;
                    
                    span {
                        display: block;
                        width: 20px; height: 2px;
                        background-color: var(--white-clr);

                        &:nth-child(2) {
                            margin: 5px 0;
                        }
                    }
                }

                .lg-screen {
                    display: none;
                }
                .resp-screen {
                    display: block !important;
                    height: 50px;
                    object-fit: cover;
                }
                .resp-search {
                    display: block !important;
                    cursor: pointer;
                    padding: 0 10px;

                    i {
                        color: var(--white-clr);
                        font-size: 22px;
                        transform: translateY(5px);
                    }
                }
            }
            nav {
                display: none;
            }
        }

        // MOBILE NAVBAR
        .mobile-nav-container {
            display: block !important;

            &.on {
                .mobile-nav {
                    left: 0;

                    .menu-close {
                        .hamburger-icon {
                            span {
                                &:nth-child(2) {
                                    transition-delay: .6s;
                                    width: 0;
                                }
                                &:nth-child(1), &:nth-child(3) {
                                    transition-delay: .9s;
                                    transform: translateY(0px);
                                }
                                &:nth-child(1) {
                                    transform: rotate(135deg);
                                }
                                &:nth-child(3) {
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }
                }
                .mobile-overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .mobile-overlay {
                position: fixed;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background-color: rgba(30,40,69, .8);
                opacity: 0;
                visibility: hidden;
                transition: .5s ease-in-out;
            }

            .mobile-nav {
                background-color: var(--header-resp-bg);
                color: var(--white-clr);
                z-index: 444;
                position: fixed;
                top: 0; left: -60%;
                width: 400px; height: 100%;
                white-space: nowrap;
                padding: 30px;
                transition: .5s ease-in-out;

                .menu-close {
                    position: absolute;
                    top: 30px; right: -45px;
                    width: 40px; height: 40px;
                    background-color: var(--green-clr);
                    border-radius: 5px;
                    z-index: 444;
                    font-size: 33px;
                    text-align: center;
                    cursor: pointer;

                    i {
                        line-height: 40px;
                    }

                    .hamburger-icon {
                        position: relative;
                        top: 50%; left: 50%;
                        transform: translate(-25%, -50%);

                        span {
                            display: block;
                            position: absolute;
                            width: 20px; height: 2px;
                            background-color: var(--white-clr);
                            transition: .3s ease-in-out;
                            transition-delay: .6s;

                            &:nth-child(1) {
                                transform: translateY(6px);
                            }
                            &:nth-child(3) {
                                transform: translateY(-6px);
                            }
                        }
                    }
                }

                .m-logo-img {
                    display: block !important;
                    img {
                        height: 50px;
                    }
                }

                .resp-nav {
                    display: block !important;

                    .resp-nav-menu {
                        margin-top: 30px;
                        font-size: 15px;
                        
                        li {
                            font-weight: 500;
                            position: relative;
                            a {
                                display: block;
                                padding: 8px 0;
                                color: var(--white-clr);

                                &.active {
                                    color: var(--green-clr);
                                }
                            }
                            

                            span {
                                position: absolute;
                                top: 0; right: 0;
                                width: 35px; height: 35px;
                                background-color: rgba(255,255,255, 0.05);
                                text-align: center;
                                cursor: pointer;
                                
                                i {
                                    line-height: 35px;
                                    font-size: 24px;
                                    opacity: .4;
                                    transition: .4s ease;
                                }
                            }

                            &.show {
                                span {
                                    i {
                                        transform: rotate(90deg) translate(-1px, 1px);
                                    }
                                }

                                .sub-menu {
                                    height: auto;
                                    transition: .4s ease;
                                }
                            }

                            .sub-menu {
                                position: relative;
                                font-size: 14px;
                                padding-left: 20px;
                                max-height: 0px;
                                overflow: hidden;
                                transition: all .4s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    // FILTER SIDE LEFT

        // PAGE HEAD SECTION
    .page-head {
        .title {
            font-size: 32px !important;
        }
    }

        // MAIN SECTION
    .main {
        .filter-box {
            padding: 20px 15px 15px 15px;
        }

        .course-top {
            flex-wrap: wrap;
            .course-order {
                width: 100%;
                padding: 5px 0;
                .select-area {
                    width: 100%;
                    select {
                        width: 100%;
                    }
                }
            }
            
            .course-search {
                max-width: 100%;
                width: 100%;
                padding: 5px 0;
            }
        }
    }
    // END OF FILTER SIDE LEFT
}

@media (max-width: 576px) {
    // FILTER SIDE LEFT
    .main {
        .filter-box {
            max-width: 100% !important;
        }

        .courses-wrap {
            .list-media {
                margin-bottom: 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
    // END OF FILTER SIDE LEFT
}