@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;900&display=swap");
:root {
  --white-clr: #FFFFFF;
  --dark-blue-clr: #072F60;
  --green-clr: #3BBCA7;
  --grey-clr: #666666;
  --yellow-clr: #FFB60A;
  --input-bg-clr: #F8F8F8;
  --header-resp-bg: #1E2845;
}

* {
  font-family: heebo, sans-serif;
  text-decoration: none !important;
  outline: none;
}

body {
  background-color: #F6F7F9;
}

ul {
  margin: 0;
}

.header {
  text-transform: capitalize;
  background-color: var(--white-clr);
  width: 100%;
  height: 85px;
  z-index: 999;
}

.header .wrapper {
  line-height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .wrapper .logo img {
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .wrapper .logo img.lg-sreen {
  display: block;
}

.header .wrapper .logo img.resp-screen {
  display: none;
}

.header .wrapper .logo.respons .hamburger-box {
  display: none;
}

.header .wrapper .logo.respons .resp-search {
  display: none;
}

.header .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrapper nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
}

.header .wrapper nav .nav-menu li {
  position: relative;
  padding: 0 14px;
  cursor: pointer;
}

.header .wrapper nav .nav-menu li a {
  display: inline-block;
  height: 100%;
  color: var(--dark-blue-clr);
  font-weight: 500;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.header .wrapper nav .nav-menu li a.active {
  color: var(--green-clr);
}

.header .wrapper nav .nav-menu li a.active i {
  color: var(--green-clr);
}

.header .wrapper nav .nav-menu li a:hover {
  color: var(--green-clr);
}

.header .wrapper nav .nav-menu li a:hover i {
  color: var(--green-clr);
}

.header .wrapper nav .nav-menu li a i {
  color: #94a0b9;
  font-size: 20px;
  padding-left: 3px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.header .wrapper nav .nav-menu li .drop-menu {
  position: absolute;
  z-index: 999;
  top: calc(100% + 15px);
  left: 0;
  width: 270px;
  background-color: var(--white-clr);
  padding: 20px 0 23px;
  border-top: 3px solid var(--green-clr);
  border-radius: 5px;
  white-space: nowrap;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header .wrapper nav .nav-menu li .drop-menu.right {
  left: auto;
  right: 0;
}

.header .wrapper nav .nav-menu li .drop-menu li {
  padding: 0;
  line-height: 30px;
}

.header .wrapper nav .nav-menu li .drop-menu li a {
  display: block;
  padding: 6px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .wrapper nav .nav-menu li .drop-menu li a i {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header .wrapper nav .nav-menu li .drop-menu li .double {
  top: 15px;
  left: 100%;
  opacity: 0;
  visibility: hidden;
}

.header .wrapper nav .nav-menu li .drop-menu li .double.left {
  left: auto;
  right: 100%;
}

.header .wrapper nav .nav-menu li .drop-menu li:hover .double {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.header .wrapper nav .nav-menu li:hover .drop-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.header .wrapper nav .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .wrapper nav .search-area #search {
  font-size: 14px;
  font-weight: 400;
  width: 203px;
  height: 50px;
  background-color: var(--input-bg-clr);
  border: none;
  padding: 12px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header .wrapper nav .search-area .search-btn {
  position: relative;
  padding: 0;
  background-color: var(--input-bg-clr);
  width: 66px;
  height: 50px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header .wrapper nav .search-area .search-btn:hover i {
  color: var(--dark-blue-clr);
}

.header .wrapper nav .search-area .search-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: var(--green-clr);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.header .wrapper nav .cart {
  width: 67px;
  position: relative;
}

.header .wrapper nav .cart i {
  font-size: 22px;
  color: var(--dark-blue-clr);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .wrapper nav .login-register {
  position: relative;
  font-size: 15px;
  padding-left: 20px;
}

.header .wrapper nav .login-register::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 40px;
  background-color: var(--input-bg-clr);
}

.header .wrapper nav .login-register i {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  font-size: 18px;
}

.header .wrapper nav .login-register .slash {
  padding: 0 3px;
}

.header .wrapper nav .login-register .log-reg {
  color: var(--dark-blue-clr);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.header .wrapper nav .login-register .log-reg:hover {
  color: var(--green-clr);
}

@media (max-width: 1200px) {
  .header {
    background-color: var(--header-resp-bg);
    height: 70px;
  }
  .header .wrapper {
    line-height: 70px;
  }
  .header .wrapper .respons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .wrapper .respons .hamburger-box {
    display: block !important;
    position: relative;
    width: 60px;
    padding: 20px;
    cursor: pointer;
  }
  .header .wrapper .respons .hamburger-box span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--white-clr);
  }
  .header .wrapper .respons .hamburger-box span:nth-child(2) {
    margin: 5px 0;
  }
  .header .wrapper .respons .lg-screen {
    display: none;
  }
  .header .wrapper .respons .resp-screen {
    display: block !important;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .wrapper .respons .resp-search {
    display: block !important;
    cursor: pointer;
    padding: 0 10px;
  }
  .header .wrapper .respons .resp-search i {
    color: var(--white-clr);
    font-size: 22px;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .header .wrapper nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */